<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (prods.length> 0) { %>
                    <div class="grid">
                        <% for( let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                    <div class="card__image">
                                        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FBook&psig=AOvVaw2u7XJl5GfOzimb09hkTrDD&ust=1632068006952000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJj7yaP1iPMCFQAAAAAdAAAAABAJ"
                                            alt=" A book">
                                    </div>
                                    <div class="card__content">
                                        <h2 class="product__price">$<%= product.price %>
                                        </h2>
                                        <p class="product__description">
                                            <%= product.desc %>
                                        </p>
                                    </div>
                                    <div class="card__actions">
                                        <form action="/add-to-cart" method="POST">
                                            <button class="btn">Add to Cart</button>
                                        </form>
                                    </div>
                                </header>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>